.slider2
{	
	display: flex;
	width: 100%;	

	overflow-x: hidden;
	white-space: nowrap;
    scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 2vw;
}

.slider2 img
{	position: relative;
	margin: 0;
	width: 100%;
	min-width: 250px;


	flex: 1 0 100%;
	scroll-snap-align: start;
	
	object-fit: cover;
}

.slider2-nav
{
	display: flex;
	column-gap: 1vmax;
	position: absolute;
	bottom: 1.5vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider2-nav a
{
	width:2vmax;
	height: 1vmax;
	border-radius: 0.5vmax;
	background-color: #564132ff;
	border: 2px solid #fff;
	opacity: 0.5;
	transition: opacity ease 250ms;
}

.slider2-nav a:hover
{
	opacity: 1;
	background-color: #fff;
}







/*..................................................
....................................................
....................................s...............*/




.galeria {
    position: relative;
    width: 100%; /* Ancho deseado de la imagen */
    margin: 0 auto; /* Centra la galería */
    border-radius: 2vw;
}

.galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 2vw;

}

.slick-slider {
    position: relative;

}

.slick-dots {
    position: absolute;
    bottom: 1.5vh;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-prev {
	left: 1vw; /* Ajusta la posición izquierda de la flecha previa */
	z-index: 1;
}

.slick-next {
    right: 1vw; /* Ajusta la posición derecha de la flecha siguiente */
	z-index: 1;
}
